.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2c2c;
  height: 100%;
  width: 100%;
}

.create-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  padding: 10px 0px 30px 0px;
  margin: 10% auto;
  margin-top: 10%;
  border-radius: 6px;
  transition: all 2s ease;
  text-align: center;
  height: 70%;
}

.create-form-container form {
  align-items: center;
  background-color: #272626;
  padding: 10%;
  width: 70%;
  height: 75%;
  margin: 0 auto;
}

.create-form-container input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 1em auto;
  font-size: 1rem;
  transition: all 0.4s ease;
  font-family: "IM Fell Double Pica", serif;
  background-color: #575757;
  color: #f6e8e8;
  border-style: hidden;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.create-form-container form input:focus,
.create-form-container form input:active {
  border: 2px solid #f6e8e8;
}

.create-form-container form textarea:focus,
.create-form-container form textarea:active {
  border: 2px solid #f6e8e8;
  transition: all 0.4s ease;
}

.create-form-container form textarea {
  font-family: "IM Fell Double Pica", serif;
  background-color: #575757;
  border-style: hidden;
  margin-top: 10%;
  width: 100%;
  color: #f6e8e8;
}

.input-title {
  margin-top: 0px;
}

@media (max-width: 600px) {
  .create-form-container {
    margin: 10% auto;
    margin-top: 25%;
    transition: all 2s ease;
    text-align: center;
    height: 70%;
    width: 90%;
  }
}
