.posts {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0dbdb;
  width: 100%;
  min-height: 100vh;
  /* border: red 2px solid; */
}

.browse-categories {
  font-family: "Great Vibes", cursive;
  margin-top: 2em;
  font-size: 50px;
}

.category-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
}

.category-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  padding: 50px;
  background-color: #e6d4d4;
  border: 1px solid black;
  border-left-style: hidden;
  border-right-style: hidden;
  /* margin: 0 auto; */
}

.link-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
}

.cat-link {
  background-color: #000000;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  padding: 15px 35px;
  margin: 10px;
  border-radius: 5%;
  width: auto;
  height: auto;
}

.featured-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
  /* border: purple 2px solid; */
  margin-top: 15%;
}
.featured-works {
  font-family: "Great Vibes", cursive;
  font-size: 50px;
  margin-top: 1em;
  margin-bottom: 5%;
}

.featured-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6d4d4;
  width: 100%;
}

.featured {
  display: grid;
  /* border: green solid 2px; */
  justify-content: center;
  height: 80%;
  width: 70%;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #e6d4d4;
}

@media (max-width: 500px) {
  .posts {
    width: 100%;
    justify-content: space-around;
  }
}
