.search-results {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 0.1px;
  margin-top: 0;
  margin-bottom: 3%;
}

.search-input::placeholder {
  letter-spacing: 0.3px;
}
