.details-page {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  background-color: #4e4e4e;
  height: 100%;
  width: 100%;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  margin-top: 10%;
  padding-top: 50px;
  height: 80%;
  width: 100%;
}

.details-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6e8e8;
  padding-top: 50px;
  margin-top: -50px;
  /* margin-bottom: 50px; */
  /* transition: all 2s ease; */
  text-align: center;
  width: 100%;
}

.title {
  font-family: "IM Fell Double Pica", serif;
  font-size: 60px;
  margin-bottom: 30px;
}

.author {
  font-family: "IM Fell Double Pica", serif;
  font-size: 25px;
  margin-bottom: 30px;
}

.details-content {
  background-color: #272626;
  padding: 10%;
  width: 100%;
  height: 75%;
  margin: 0 auto;
}

.create-form-container input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 1em auto;
  font-size: 1rem;
  transition: all 0.4s ease;
  font-family: "IM Fell Double Pica", serif;
  background-color: #575757;
  color: #f6e8e8;
  border-style: hidden;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.create-form-container form input:focus,
.create-form-container form input:active {
  border: 2px solid #f6e8e8;
}

.create-form-container form textarea:focus,
.create-form-container form textarea:active {
  border: 2px solid #f6e8e8;
  transition: all 0.4s ease;
}

.create-form-container form textarea {
  font-family: "IM Fell Double Pica", serif;
  background-color: #575757;
  border-style: hidden;
  margin-top: 10%;
  width: 100%;
  color: #f6e8e8;
}

/* .post-detail {
  display: flex;
  flex-direction: column;
  padding: 100px;
  padding-top: 80px;
  line-height: 1.6;
}

.detail {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 64px;
  letter-spacing: 1px;
  padding: 5px;
}

.author {
  font-size: 28px;
}

.content {
  padding: 10px;
  letter-spacing: 0.9px;
}

/* .post-detail-image {
  width: 500px;
  padding: 0 40px;
} */
/* 
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.delete-button {
  background-color: #2d2b2b;
  color: #f6e8e8;
  padding: 2px;
  margin-top: 40px;
  height: 40px;
  width: 80px;
  border-radius: 5%;
  box-shadow: 2px 2px 10px 2px;
  font-family: "IM Fell Double Pica", serif;
  font-size: 16px;
  cursor: pointer;
}

.button-link {
  width: 300px;
  display: flex;
}

.edit-button {
  background-color: #2d2b2b;
  color: #f6e8e8;
  padding: 2px;
  margin-top: 40px;
  height: 40px;
  width: 80px;
  border-radius: 5%;
  box-shadow: 2px 2px 10px 2px;
  font-family: "IM Fell Double Pica", serif;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .title {
    font-size: 32px;
  }

  .author {
    font-size: 30px;
  }

  .content {
    font-size: 28px;
  }

  .post-detail-image {
    width: 500px;
    margin-top: -100px;
    padding: 10px;
  }
  .post-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .post-detail {
    padding: 0px;
    padding-top: 120px;
  }
  .button-container {
    padding: 20px;
    padding-bottom: 80px;
  }
  .edit-button,
  .delete-button {
    width: 40%;
  }
}  */
