.details-page {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  background-color: #4e4e4e;
  height: 100%;
  width: 100%;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  margin-top: 10%;
  padding-top: 50px;
  margin-bottom: 5%;
  height: 90%;
  width: 80%;
}

.details-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6e8e8;
  padding-top: 5%;
  margin-top: 10%;
  margin-bottom: 15%;
  text-align: center;
  width: 80%;
  height: 100%;
}

.title {
  font-family: "IM Fell Double Pica", serif;
  font-size: 60px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.author {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "IM Fell Double Pica", serif;
  font-size: 25px;
  margin-bottom: 30px;
}

.detail-content {
  background-color: #272626;
  padding: 15% 0 15% 0;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  color: #f6e8e8;
  line-height: 1.3;
  margin-bottom: 10%;
}

.details-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: #f6e8e8;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 25%;
}

@media (max-width: 600px) {
  .details-container {
    margin-bottom: 15%;
    padding-top: 10%;
  }

  .details-title-container {
    padding-top: 5%;
    margin-top: 0;
    margin-bottom: 15%;
  }

  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .author {
    margin-bottom: 20px;
  }

  .detail-content {
    width: 100%;
    height: 100px;
    line-height: 1.3;
    border-style: hidden;
  }
  .edit-button,
  .delete-button {
    width: 100%;
  }

  .details-button-container {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 5%;
    padding-top: 5%;
  }
}
