.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  height: 100vh;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-name {
  color: #f6e8e8;
  font-size: 50px;
  margin-left: 60%;
}

.home-text {
  color: #f6e8e8;
  margin-left: 60%;
}

/* @media (max-width: 500px) {
  .home {
    padding: 100px 40px;
  }
} */
