.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  height: 100vh;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-name {
  color: #f6e8e8;
  font-size: 50px;
  margin-left: 60%;
}

.home-text {
  color: #f6e8e8;
  margin-left: 60%;
  margin-top: -20%;
}

@media (max-width: 600px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .home {
    display: flex;
    flex-direction: column;
  }

  .home-name {
    color: #f6e8e8;
    font-size: 30px;
    margin-left: 0%;
  }

  .home-text {
    color: #f6e8e8;
    margin-left: 0%;
    margin-top: -10%;
  }

  /* .home-form-container {
    width: 80%;
  } */
}
